#root {
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow-y: hidden;
}

body {
  min-width: 300px;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

h4 {
  font-size: 1rem !important;
  margin-bottom: 15px !important;
}

.navbar {
}

.sidetimesview-times-container {
  height: 100%;
  width: 25px;
  position: fixed;
  top: 95px;
  padding-left: 5px;
  z-index: 10;
}

.sidetimesview-time {
  text-align: right;
  width: 20px;
  position: absolute;
  font-size: 16px;
  line-height: 16px;
  left: 0;
  opacity: 0.8;
}

.sidetimesview-line {
  width: 100vw;
  height: 2px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 25px;
  z-index: 0;
  opacity: 0.6;
}

.weekview {
  position: absolute;
  min-width: 600px;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  left: 25px;
}

.dayheader {
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  font-weight: 400;
  padding: 6px 0;
  margin: 0 !important;
  font-weight: 100;
}

.event {
  color: white;
  background-color: #273238;
  border-radius: 3px;
  padding: 8px;
  position: absolute;
  top: calc((100% / 13) * 1); // calculated time: e.g 08:00
  height: calc((100% / 13) * 4); // calculated duration e.g 4h
  width: calc(100vw / 7);
}

.event-time {
  margin: 0 0 5px 0;
  font-size: 14px;
  font-weight: 100;
}

.event-title {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}

.event-description {
  margin: 0;
  font-size: 14px;
  position: absolute;
  bottom: 8px; // padding correcture
  font-weight: 100;
}

.dayview {
  width: calc(100vw / 7);
}

.daybody {
  position: relative;
  z-index: 5;
}

.onboarding-actions {
  justify-content: space-between !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #3057D5;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-weight: lighter;
  text-transform: uppercase;
}

.App-intro {
  font-size: large;
}

@media (max-width: 1550px) {
  .event {
    width: 220px;
  }

  .dayview {
    width: 220px;
  }
}

@media (max-width: 600px) {
  .weekview {
    top: 56px;
    height: calc(100vh - 56px);
  }

  .event {
    width: 150px;
  }

  .dayview {
    width: 150px;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
